<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIDHARTH P.N  Portfolio</title>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#skills">Skills</a></li>
            </ul>
        </nav>
    </header>
    
    <!-- Intro Section -->
    <section class="intro-text">
        <h1>Hello, I'm Sidharth!</h1>
        <p>Welcome to my student portfolio</p>
    </section>
    
    <!-- About Section -->
    <section id="about">
        <div class="about-container">
            <img src="images/node.png" alt="Sidharth P.N" class="about-image">
            <div class="about-text">
                <h2>About Me</h2>
                <p>Hello! I'm Sidharth P.N, a student at CUSAT pursuing MVoc in Software Application Development. I have a passion for coding and technology.</p>
            </div>
        </div>
    </section>
     
    <section id="skills">
        <div class="skills-container">
            <h1 id="h">Skills</h1>
            <p>Below are some of the technical skills I have acquired:</p>
            <ul class="skills-list">
                <li>
                    <h2>Programming Languages</h2>
                    <div class="skill-bar">
                        <div class="skill-level html">HTML</div>
                    </div>
                    <div class="skill-bar">
                        <div class="skill-level css">CSS</div>
                    </div>
                    <div class="skill-bar">
                        <div class="skill-level js">JavaScript</div>
                    </div>
                </li>
                <li>
                    <h2>Frameworks & Libraries</h2>
                    <div class="skill-bar">
                        <div class="skill-level react">React.js</div>
                    </div>
                </li>
                <li>
                    <h2>Database Management</h2>
                    <div class="skill-bar">
                        <div class="skill-level sql">SQL</div>
                    </div>
                </li>
                <li>
                    <h2>Version Control</h2>
                    <div class="skill-bar">
                        <div class="skill-level git">Git & GitHub</div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
   
    
    <footer>
        <p>&copy; 2024 Sidharth P.N</p>
        <div class="social-media">
            <a href="https://instagram.com" target="_blank">Instagram</a>
            <a href="https://linkedin.com" target="_blank">LinkedIn</a>
            <a href="https://github.com" target="_blank">GitHub</a>
        </div>
    </footer>
</body>
</html>